#top-right-links {
  float: right;
}

h1.title {
  margin-bottom: 0;
  padding-bottom: 0;
}

h1.title a {
  color: black;
  text-decoration: none;
}

.byline {
  font-style: italic;
}

#flash {
  font-weight: bold;
}

#footer {
  padding-top: 1em;
  text-align: center;
}

#picking-nose {
  float: right;
}

.bloog-post h3 {
  padding-bottom: 0;
  margin-bottom: 0;
}

.bloog-post .created-at {
  font-style: italic;
  padding-bottom: 1em;
}