<h2>Account for <%= @user.username %></h2>

<p>
  <b>Username:</b>
  <%= @user.username %>
</p>

<p>
  <b>Bloog title:</b>
  <%= @user.bloog_title %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %>