<h2><%= @bloog.bloog_title %></h2>

<% if @bloog.posts.blank? %>
  <p>There are no bloog posts yet.</p>
<% else %>
  <% @bloog.posts.each do |post| %>
    <div class="bloog-post">
      <h3><%= post.title %></h3>

      <div class="created-at">Created: <%= post.created_at.strftime("%c") %></div>

      <%= post.body %>
    </div>
  <% end %>
<% end %>