<div id="footer">
  Copyright 2010 Booger Lovers, Inc. |
  <%= link_to "Terms of Use", "http://www.kleenex.com/LegalStatement.aspx" %> |
  <%= link_to "Source Code", "http://github.com/jjinux/blooger" %>
</div>