<h2>Edit Post</h2>

<% form_for(@post, :url => user_post_path(:user_id => current_user, :id => @post),
            :html => {:method => :put}) do |f| %>
  <%= render :partial => "form", :object => f %>

  <p>
    <%= f.submit 'Update' %>
    <%= link_to 'Show', user_post_path(:user_id => current_user, :id => @post) %> |
    <%= link_to 'Back', admin_user_posts_path(:user_id => current_user) %>
  </p>
<% end %>